doctype html
html
	head
		meta(http-equiv="content-type", content="text/html; charset=UTF-8")
		title Advancing Javascript - School of Net
		link(rel="stylesheet", type="text/css", href="style/bootstrap.min.css")
	body
		nav.navbar.navbar-default
			.container-fluid
				.navbar-header
					a#navTitle.navbar-brand(href='index.html')
		.container-fluid
			table.table
				thead
					tr
						td Description
						td Amount
						td Value
						td Action
				tbody#listTable
					
		script(type='text/javascript', src='js/config.js')
		script(type='text/javascript', src='js/main.js')
